.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
.env
.env.build
.vercel
themes/*
.obsidian/*
source/_posts/.obsidian/*
source/.obsidian/app.json
source/.obsidian/appearance.json
source/.obsidian/core-plugins.json
source/.obsidian/workspace.json
